@media (max-width: 768px) {
	#benefits .col-2 {
	    width: 100%; 
	}

	.note {
		margin-top: 10px !important;
	}

	.phones-note {
		margin-left: auto !important;
	}

	.plan a.plan2, .plan a {
	    width: 95%;
	    margin-bottom: 8px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 8px;
	    margin-top: 12px;
	}
	.plan a.plan3et > img {
		height: 100% !important;
	}
	.plan a {
		height: 300px;
	}
	.plan a.plan2 > img , .plan a > img{
	    height: 100%;
	    width: 100%;
	}

	.center3 {
		width: 350px; 
	}	

	.row.plan3et {
    	height: auto !important;
    	padding: 10px;
	}

	/*First Form*/

	.request-form {
		position: relative;
		left: 0;
		width: 100%;
		padding: 8%;
	}	

	.request-form h2 {
		text-align: center;
	}

	.request-form input, .request-form button {
		width: 100%;
	}

	.welcome h1, .request-title {
    	font-size: 32px;
    	margin-bottom: 10px;
	}

	.ad, .ad2, .bg__ad2 {
		width: 100%;
		min-width: 100%;
	}

	/*text inputs rows */
	 .ad .col-sm-4 {
		margin: 15px auto;
	}

	/*text button*/

	.ad .col-sm-10 {
		margin-top: 10px;
	}

	#tech-benefits .col-xs-1 {
    	padding-left: 10px;
	}

	#tech-benefits .col-xs-11 {    
    	padding-left: 25px;
	}

	.ad.ad3, .bg__ad3 {
		height: auto !important;
	}

	.bg__ad3:hover::before {
		height: auto;
	}

	/* prices 2 section */

	.prices2 {
		position: relative;
		padding: 3%;
	}

	.prices2 h2 {
		color: #85C342;
	}

	footer {
		display: none;
	}

	.um-od {
		font-size: 26px;
	}

	.um-od.forth-od {
		top: 0;
	}

	.rostr {
		font-size: 20px;
	}

	.bg__ad3 {
		background-image: none;
		background-color: #402110;
	}
}
