@media (max-width: 768px) {
	#benefits .col-2 {
	    width: 100%; 
	}

	.note {
		margin-top: 10px !important;
	}

	.phones-note {
		margin-left: auto !important;
	}

	.plan a.plan2, .plan a {
	    width: 95%;
	    margin-bottom: 8px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 8px;
	    margin-top: 12px;
	}
	.plan a.plan3et > img {
		height: 100% !important;
	}
	.plan a {
		height: 300px;
	}
	.plan a.plan2 > img , .plan a > img{
	    height: 100%;
	    width: 100%;
	}

	.center3 {
		width: 350px; 
	}	

	.row.plan3et {
    	height: auto !important;
    	padding: 10px;
	}

	/*First Form*/

	.request-form {
		position: relative;
		left: 0;
		width: 100%;
		padding: 8%;
	}	

	.request-form h2 {
		text-align: center;
	}

	.request-form input, .request-form button {
		width: 100%;
	}

	.welcome h1, .request-title {
    	font-size: 32px;
    	margin-bottom: 10px;
	}

	.ad, .ad2, .bg__ad2 {
		width: 100%;
		min-width: 100%;
	}

	/*text inputs rows */
	 .ad .col-sm-4 {
		margin: 15px auto;
	}

	/*text button*/

	.ad .col-sm-10 {
		margin-top: 10px;
	}

	#tech-benefits .col-xs-1 {
    	padding-left: 10px;
	}

	#tech-benefits .col-xs-11 {    
    	padding-left: 25px;
	}

	.ad.ad3, .bg__ad3 {
		height: auto !important;
	}

	.bg__ad3:hover::before {
		height: auto;
	}

	/* first benefits form */
	.uah {
		text-align: center;
	}
	/* prices 2 section */

	.prices2 {
		position: relative;
		padding: 3%;
	}

	.prices2 h2 {
		color: #85C342;
	}

	footer {
		display: none;
	}

	.um-od {
		font-size: 26px;
	}

	.um-od.forth-od {
		top: 0;
	}

	.rostr {
		font-size: 20px;
	}

	.bg__ad3 {
		background-image: none;
		background-color: #402110;
	}

	#benefits .col-2, .ico_wrapper {
    	display: inline-block;
    	float: none;
    	text-align: center;
	}

	#benefits .col-sm-6 {
		text-align: center;
	}

	/*shit todo: fix this alfaul code aligment */
	.s-uah span  {
    	 padding-left: 0; 
	}

	.s-uah span img, .uah_sign span img {
		margin-left: 0 !important;
	}

	.uah_sign span {
		margin-left: 2px;
    	padding: 0; 
	}

	.highlight_orange + span {
		display: inline-block;
		
	}
	
	.prices ul {
		padding-left: 0 !important;
	}

	.row.align_center {
		margin: 0 auto;
		max-width: 300px;
	}

	.price-menu li a {
		font-size: 25px;
	}

	.um-od.forth-od {
		line-height: 20px;
		top: -20px;
	}
 
 	.row.prices_wrapper {
 		padding: 20px 0;
 	}

 	.plan h2 {
 		text-align: center;
 		display: block;
 	}

 	[class*="bg__"] {
        min-width: 100%;
	}

	/*85C342*/
	/* navbar header */
	.navbar-header {

	}

	.navbar-nav, .navbar-nav li, .navbar-nav > li > a:visited {
		background: #85C342;
	}

	.navbar-toggle .icon-bar {
		background: #fff;
		height: 3px;
	}

	.navbar-nav>li>a:active{
		background: orange;
	}

	.email {
		position: static;
	}

	.row {
		margin: 0;
	}

	/* Main area */
	.navbar-toggle {
		margin-right: 0;
	}

	.bg__ad2 {
		height: auto !important;
		padding: 20px;		 
	}

	.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover {
		background-color: yellowgreen;
	} 

	.plan {
		margin-top: 40px;
	}

	.bg__ad2 {
		padding: 20px 0;
	}

	.bg_mobile {
		padding-top: 20px;
	}

	.phone.email {
		font-size: 28px !important;
	}

	.ad {
		height: auto;
	}

	.btn-wrapper {
		margin-top: 5px;
		margin-bottom: 25px;
	}

	.bg_mobile h3 {
		color: #a4ff3d;
		font-family: Arial, serif;
	}

	.bg_mobile {
		background: #834B20;
		padding-bottom: 20px;
	}

	.bg_mobile h2,  .bg_mobile h3 {
		display: inline-block;
		text-align: center;
		font-size: 	30px;
	}

	.bg_mobile .row {
		text-align: center;
	}

	.address {
  		color: #a4ff3d;
  		text-shadow: -1px -1px 1px #834B20, 1px -1px 1px #834B20, -1px 1px 1px #834B20, 1px 1px 1px #834B20;	 
  		font-size: 	24px;
	} 
}

@media  (max-width: 400px) {
	.highlight_orange + span { 
			padding-left: 50px;
	}
}

